In [1]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [2]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [3]:
myself=['tasawor','khan',20,5.11,False]

###### ADDING&appending value in list

In [4]:
#1st method(concatenation)

new_cities=cities+['karachi',"lahore","delhi"]

In [5]:
new_cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi',
 'lahore',
 'delhi']

In [7]:
#2nd method (.append fuction)

cities.append("karachi")

In [8]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

In [9]:
#3rd method(.insert function)

cities.insert(0,"Karachi")

In [10]:
cities

['Karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

###### Slicing

In [11]:
cities

['Karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

In [12]:
#1234-1include/4exclude
#index starts with 0

cities[0:]

['Karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

In [13]:
cities[:3]

['Karachi', 'Atlanta', 'Baltimore']

In [14]:
cities[:]

['Karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

In [16]:
cities[3:8]

['Chicago', 'Denver', 'Los Angeles', 'Seattle', 'karachi']

In [17]:
#-1,-2,-3

cities1=cities[:-3]

In [18]:
cities1

['Karachi', 'Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [19]:
cities2=cities[-3:]

In [20]:
cities2

['Los Angeles', 'Seattle', 'karachi']

###### Deleting or removing values in lists:

In [21]:
myself=['tasawor','khan',20,5.11,False]

In [22]:
del myself[3]

In [23]:
myself

['tasawor', 'khan', 20, False]

In [24]:
myself.remove(20)

In [25]:
myself

['tasawor', 'khan', False]

##### Popping elements from lists:

In [49]:
daily_tasks = ["email Frank", "call Sarah", "meet with zach"]

In [50]:
daily_tasks.pop(2)

'meet with zach'

In [33]:
task_complete=[]

In [35]:
task_complete

[]

In [51]:
task_complete = task_complete + list(daily_tasks.pop(1))

In [52]:
task_complete

['c',
 'a',
 'l',
 'l',
 ' ',
 'S',
 'a',
 'r',
 'a',
 'h',
 'e',
 'm',
 'a',
 'i',
 'l',
 ' ',
 'F',
 'r',
 'a',
 'n',
 'k',
 'c',
 'a',
 'l',
 'l',
 ' ',
 'S',
 'a',
 'r',
 'a',
 'h']

In [53]:
daily_tasks = ["email shoaib", "call bhai", "meet with customers"]

In [54]:
task_completed=[]

In [55]:
task_completed

[]

In [56]:
task_completed.insert(0,daily_tasks.pop())

In [57]:
task_completed

['meet with customers']

In [58]:
task_completed.insert(1,daily_tasks.pop(1))

In [59]:
task_completed

['meet with customers', 'call bhai']

## Tuples:

In [63]:
tuple_myself=('tasawor','khan',20,5.11,False)

In [64]:
tuple_myself

('tasawor', 'khan', 20, 5.11, False)

In [65]:
type(tuple_myself)

tuple

In [66]:
tuple_myself[2]

20

In [67]:
tuple_myself.count("tasawor")

1

In [68]:
tuple_myself.index(20)

2

In [69]:
tuple_myself[3]="kk"

TypeError: 'tuple' object does not support item assignment

# For loops

In [70]:
cities

['Karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'karachi']

In [72]:
for i in cities:
    if i=="karachi":
        print("Apna shehr")
    else:
        print("not available")

not available
not available
not available
not available
not available
not available
not available
Apna shehr

In [73]:
year = int(input("Enter a Year: "))

if (year % 4 ==0) and (year % 100 ==0) or (year % 400 ==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not leap year")

Enter a Year: 1800
1800 is a leap year

In [2]:
for year in [1200,1600,2023,2022]:
    if (year%4==0)and(year%100==0)or(year%400==0):
        print(f"{year}is a leap year")
        
    else:
        print(f"{year}is not a leap year")

1200is a leap year
1600is a leap year
2023is not a leap year
2022is not a leap year

In [3]:
for i in [1600,1700,1800,1900]:
    print(i)
    print("loop cycle end")

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end

## range function:

In [5]:
'''
range is a generator function
range 10-9,3
range (start,end,step)

'''

range(10)

range(0, 10)

In [6]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [8]:
for i in range(85,100,2):
    print(i)

85
87
89
91
93
95
97
99

In [9]:
cleanest_cities = ["Cheyenne",
                   "Santa Fe",
                   "Tucson",
                   "Great Falls",
                   "Honolulu"]

In [10]:
city_to_check = "Honolulu"

if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("Not Available")

It's one of the cleanest cities

In [12]:
for a_clean_city in cleanest_cities:
    if city_to_check==a_clean_city:
        print("It's one of the cleanest cities")
    else:
        print("not")

not
not
not
not
It's one of the cleanest cities