In [1]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson",
"Great Falls", "Honolulu"]

In [6]:
city_to_check = "Tucson"

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")
        break
    else:
           print("city no found")

city no found
city no found
It's one of the cleanest cities

In [3]:
fruits=["Apple","Orange","peache","lychee"]

In [4]:
fruits.sort()

In [5]:
fruits

['Apple', 'Orange', 'lychee', 'peache']

In [9]:
fruits1=["Apple","Dry","Banana","Dry"]

In [10]:
fruits1.sort()

In [11]:
fruits1

['Apple', 'Banana', 'Dry', 'Dry']

In [12]:
fruit1=fruits.copy()

In [13]:
fruit1

['Apple', 'Orange', 'lychee', 'peache']

# Loops

In [17]:
for temp in fruit1:
    if temp=="Apple":
        continue
        print("my fruit")
    
    else:
        print("not mine")

not mine
not mine
not mine

In [18]:
for temp in fruit1:
    if temp=="Apple":
        print("my fruit")
        break
    else:
        print("not mine")

my fruit

# Nested For loops:

In [21]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)

In [22]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [33]:
for temp in range(1, 11):
    print(f"2*{temp}={temp*2}")
    for temp in range(1, 11):
        print(f"3*{temp}={temp*3}")

2*1=2
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*2=4
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*3=6
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*4=8
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*5=10
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*6=12
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*7=14
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*8=16
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [35]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")
    for temp in range(1, 11):
        print(f"3 x {temp} = {temp * 3}")
    for temp in range(1, 11):
        print(f"4 x {temp} = {temp * 4}")
for temp in range(1, 11):
    print(f"5 x {temp} = {temp * 5}")

2 x 1 = 2
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 2 = 4
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 4 = 8
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 6 = 12
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 7 = 14
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 8 = 16
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [37]:
for temp in range(2, 6):
    print(f"TABLE of{temp}")
    for temp2 in range(1,11):
        print(f"{temp}*{temp2}={temp*temp2}")

TABLE of2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
TABLE of3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
TABLE of4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
TABLE of5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [1]:
names=["tasawor","shoaib","moosa","imran","lala"]

In [2]:
names

['tasawor', 'shoaib', 'moosa', 'imran', 'lala']

In [3]:
name_upper=[]

for temp in names:
    name_upper.append(temp.upper())

name_upper

In [4]:
name_upper

['TASAWOR', 'SHOAIB', 'MOOSA', 'IMRAN', 'LALA']

In [5]:
name_upper=[]

for temp in names:
    name_upper.append(temp.lower())

In [6]:
name_upper

['tasawor', 'shoaib', 'moosa', 'imran', 'lala']

In [7]:
name_upper=[]

for temp in names:
    name_upper.append(temp.title())

In [8]:
name_upper

['Tasawor', 'Shoaib', 'Moosa', 'Imran', 'Lala']

# user input

In [13]:
table_start=int(input("enter where I starts from: "))
table_end=int(input("where can i stop: "))
table_dur=int(input("enter how long i go: "))
for temp in range(table_start, table_end+1):
    print(f"TABLE of{temp}")
    for temp2 in range(1,table_dur+1):
        print(f"{temp}*{temp2}={temp*temp2}")

enter where I starts from: 2
where can i stop: 9
enter how long i go: 6
TABLE of2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
TABLE of3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
TABLE of4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
TABLE of5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
TABLE of6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
TABLE of7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
TABLE of8
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
TABLE of9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54

# String formatting method

In [15]:
name=input("enter your name: ")
father_name=input("enter your fname: ")
Rollno=input("enter your fname: ")


print("**************************SMIT**********************")
print(f"Name:{name}")
print(f"F-name:{father_name}")
print(f"Id:{Rollno}")
print("******************************************************")

enter your name: Tasawor
enter your fname: Hamid
enter your fname: 186598
**************************SMIT**********************
Name:Tasawor
F-name:Hamid
Id:186598
******************************************************

In [16]:
name=input("enter your name: ")
father_name=input("enter your fname: ")
Rollno=input("enter your fname: ")


print(f"**************************SMIT*********************** \n Name:{name}\n \
Father name:{father_name}\n Id:{Rollno}\n *********************************")

enter your name: tasawor
enter your fname: hamid
enter your fname: 186592
**************************SMIT***********************
 Name:tasawor
 Father name:hamid
 Id:186592
 *********************************

In [18]:
name=input("enter your name: ")
father_name=input("enter your fname: ")
Rollno=input("enter your fname: ")


print("**************************SMIT*********************** \n Name:{0}\n \
Father name:{1}\n Id:{2}\n *********************************".format(name,father_name,Rollno))

enter your name: Tasawor Khan
enter your fname: Hamid khan
enter your fname: 186598
**************************SMIT***********************
 Name:Tasawor Khan
 Father name:Hamid khan
 Id:186598
 *********************************

# Intro To Dictionary:

In [ ]:
# Key--value
# Name--tasawor

# recognized by curly brackets({})

# class end here